body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#situacao {
    visibility: hidden;
}

.emoji-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.emoji-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.emoji-button:hover {
    background-color: darkblue;
}

.score-container {
    margin-top: 20px;
}

.score-container p {
    font-size: 1.5rem;
}

.reset-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: darkred;
}
